<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Login</title>
  </head>
  <body>
    <h1>Login page</h1>

    <h2>Greetings and Salutations! {{loggedUsr.nmae}}</h2>
    <h3>Our users</h3>
    {{#users}}
          <p>Name: {{name}}</p>
          <username: {{username}}</p>
          <p>id: {{id}}</p>
    {{/users}}
  </body>
</html>
